@import 'tailwindcss';
@import './prism.css';
@plugin "@tailwindcss/typography";

@reference .text-zinc-300, .text-zinc-700, .text-zinc-600, .text-zinc-400, .text-zinc-500, .text-zinc-900, .text-zinc-100, .text-zinc-200, .bg-zinc-100, .bg-zinc-800, .bg-zinc-900, .bg-zinc-50, .bg-white, .hover\:bg-zinc-200, .hover\:bg-zinc-700, .hover\:bg-zinc-800, .hover\:text-zinc-700, .hover\:text-zinc-900, .hover\:text-zinc-200, .hover\:text-zinc-100, .dark\:text-zinc-300, .dark\:text-zinc-400, .dark\:text-zinc-100, .dark\:text-zinc-200, .dark\:bg-zinc-800, .dark\:bg-zinc-900, .dark\:hover\:bg-zinc-700, .dark\:hover\:bg-zinc-800, .dark\:hover\:text-zinc-100, .dark\:hover\:text-zinc-200, .dark\:border-zinc-700, .border-zinc-200, .border-zinc-100, .hover\:text-teal-600, .dark\:hover\:text-teal-400, .dark\:to-teal-400;

@layer base {
  body {
    color: rgb(82 82 91);
  }

  :global(.dark) body {
    color: rgb(161 161 170);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: rgb(24 24 27);
  }

  :global(.dark) h1,
  :global(.dark) h2,
  :global(.dark) h3,
  :global(.dark) h4,
  :global(.dark) h5,
  :global(.dark) h6 {
    color: rgb(228 228 231);
  }

  hr {
    border-color: rgb(244 244 245);
  }

  :global(.dark) hr {
    border-color: rgb(63 63 70 / 0.25);
  }
}
